<div class="odn-network">
  <div class="container">
    <div class="row">

      <div class="data-display-wrap col-xs-12 col-sm-4">
        <dl class="data-display">
          <dt>{{blockchain.blocks}}</dt>
          <dd>Current Block</dd>
        </dl>
      </div>

      <div class="data-display-wrap col-xs-12 col-sm-4">
        <dl class="data-display">
          <dt>{{{format-staking blockchain.netstakeweight}}}</dt>
          <dd>Network Weight</dd>
        </dl>
      </div>

      <div class="data-display-wrap col-xs-12 col-sm-4">
        <dl class="data-display">
          <dt>Online</dt>
          <dd>Status</dd>
        </dl>
      </div>

    </div>
  </div>
</div>
