.node-card {
  background-color: $theme-light;
  border: 1px solid $data-border-color;
  color: $dark;

  &.node-card--light {
    background-color: $theme-light;
  }
}

.node-card--split {
  border-bottom: 1px solid $data-border-color;

  &:last-child {
    border-bottom: 0;
  }

  > div {
    border-bottom: 1px solid $data-border-color;
    min-height: 85px;

    &:last-child {
      border-bottom: 0;
    }
  }

  &.row {
    margin-left: 0;
    margin-right: 0;
  }
}

@include respond-to(xs) {
  .node-card--split {

  }
}

// TODO -- combine into a min size for > mobile
@include respond-to(sm) {
  .node-card--split {
    > div {
      border-left: 1px solid $theme-graylight;
      border-right: 1px solid $theme-graylight;
      border-bottom: 0;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
        margin-left: -1px;
      }
    }
  }
}

@include respond-to(md) {
  .node-card--split {
    > div {
      border-left: 1px solid $theme-graylight;
      border-right: 1px solid $theme-graylight;
      border-bottom: 0;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
        margin-left: -1px;
      }
    }
  }
}

@include respond-to(lg) {
  .node-card--split {
    > div {
      border-left: 1px solid $theme-graylight;
      border-right: 1px solid $theme-graylight;
      border-bottom: 0;

      &:first-child {
        border-left: 0;
      }

      &:last-child {
        border-right: 0;
        margin-left: -1px;
      }
    }
  }
}
