<div class="app-body">
  {{outlet}}
  <h2>About ObsidianXXL</h2>
  <p>
    The ObsidianXXL is a project started by Pixxl (Vaughn) for the Obsidian Platform for the purpose of Masternode
    statistics and control. It is being refined to also include the ability to view the Obsidian Blockchain that
    a masternode is connected too, as well display specific information about the network.</p>
</div>
