{{nav-bar tagName="nav" class="nav-header" isSearching=isSearching limitedBlock=limitedBlock search="search"}}

<aside class="nav-panel">
  <ul>
    <li>Link 1</li>
    <li>Link 2</li>
    <li>Link 3</li>
  </ul>
</aside>

<main class="app-view">
  <div class="warning-alpha">
    <p><span class="theme-action">Heads Up!</span> You're entering a development environment. Certain features may or may not be available at this time, and information provided might not be the most up-to-date. Search available up to block {{#link-to "block" limitedBlock}}<span class="theme-action">#{{limitedBlock.block_id}}</span>{{/link-to}}</p>
    <p>Searching? {{isSearching}}</p>
  </div>
  
  {{outlet}}

  <footer class="app-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>&copy; 2017 - init.run</p>
          <p class="muted">This dashboard was made available to provide information to the Obsidian community and to support the ODN project.</p>
        </div>
      </div>
    </div>
  </footer>
</main>
