<div class="app-body">
  <div class="container">
    <div class="col-xs-12">
      <h2>Obsidian Search</h2>
      <h4>Search for <span class="theme-action">{{model.params.query}}</span> returned empty.</h4>
    </div>
  </div>
</div>
{{outlet}}
